.main {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: 10px;
}

.title {
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
}