.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    background:darkslategrey;
    margin-top: auto;
    color:lavender;
}

.copiright {
    font-style: italic;
    font-weight: bold;
    font-size: 0.7rem;
}